@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif; }

.rollable:hover, .rollable:focus {
  color: #000000;
  text-shadow: 0 0 10px #FF0000;
  cursor: pointer; }

.grid,
.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column: span 2 / span 2;
  gap: 10px;
  padding: 0;
  margin: 10px 0; }

.grid-3col {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column: span 3 / span 3; }

.grid-4col {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column: span 4 / span 4; }

.grid-5col {
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column: span 5 / span 5; }

.grid-6col {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column: span 6 / span 6; }

.grid-7col {
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-column: span 7 / span 7; }

.grid-8col {
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-column: span 8 / span 8; }

.grid-9col {
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-column: span 9 / span 9; }

.grid-10col {
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-column: span 10 / span 10; }

.grid-11col {
  grid-template-columns: repeat(11, minmax(0, 1fr));
  grid-column: span 11 / span 11; }

.grid-12col {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column: span 12 / span 12; }

.grid-start-2 {
  grid-column-start: 2; }

.grid-start-3 {
  grid-column-start: 3; }

.grid-start-4 {
  grid-column-start: 4; }

.grid-start-5 {
  grid-column-start: 5; }

.grid-start-6 {
  grid-column-start: 6; }

.grid-start-7 {
  grid-column-start: 7; }

.grid-start-8 {
  grid-column-start: 8; }

.grid-start-9 {
  grid-column-start: 9; }

.grid-start-10 {
  grid-column-start: 10; }

.grid-start-11 {
  grid-column-start: 11; }

.grid-start-12 {
  grid-column-start: 12; }

.grid-span-2 {
  grid-column-end: span 2; }

.grid-span-3 {
  grid-column-end: span 3; }

.grid-span-4 {
  grid-column-end: span 4; }

.grid-span-5 {
  grid-column-end: span 5; }

.grid-span-6 {
  grid-column-end: span 6; }

.grid-span-7 {
  grid-column-end: span 7; }

.grid-span-8 {
  grid-column-end: span 8; }

.grid-span-9 {
  grid-column-end: span 9; }

.grid-span-10 {
  grid-column-end: span 10; }

.grid-span-11 {
  grid-column-end: span 11; }

.grid-span-12 {
  grid-column-end: span 12; }

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left; }

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right; }

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0; }

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left; }

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right; }

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

/* Styles for created DOM objects */
#debugContainerOverlay {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 10000;
  width: calc(100% - 450px);
  height: calc(100% - 150px);
  pointer-events: none; }
  #debugContainerOverlay * {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none; }
  #debugContainerOverlay > svg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

#rollCircleContainer {
  position: absolute;
  top: 50px;
  left: 100px;
  width: calc(100% - 450px);
  height: calc(100% - 150px);
  font-size: calc(30px * 0.75);
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  outline: 3px solid #FF0000; }
  #rollCircleContainer * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #rollCircleContainer .roll-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    opacity: 0.5;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    #rollCircleContainer .roll-circle .angle-marker {
      position: absolute;
      width: 25px;
      height: 25px;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 12.5px;
      background-color: orange;
      opacity: 1;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
    #rollCircleContainer .roll-circle .path-marker {
      position: absolute;
      width: 20px;
      height: 14px;
      font-size: 12px;
      line-height: 16px;
      color: white;
      background-color: red;
      border-radius: 5px;
      opacity: 1; }
    #rollCircleContainer .roll-circle > svg {
      --offset: calc(-0.5 * 200px);
      position: absolute;
      margin: 0 var(--offset) calc(2 * var(--offset)) var(--offset);
      margin-bottom: calc(-1 * 200px); }
    #rollCircleContainer .roll-circle.type-lime > svg > circle {
      fill: lime; }
    #rollCircleContainer .roll-circle.type-pink > svg > circle {
      fill: pink; }
    #rollCircleContainer .roll-circle.type-cyan > svg > circle {
      fill: cyan; }
    #rollCircleContainer .roll-circle.type-yellow > svg > circle {
      fill: yellow; }
    #rollCircleContainer .roll-circle.type-purple > svg > circle {
      fill: purple; }
    #rollCircleContainer .roll-circle .snap-circle {
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
  #rollCircleContainer .ore-die {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: calc(30px * 0.75);
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    background: -o-radial-gradient(ellipse, #FFFFFF, #00FF00 90%);
    background: radial-gradient(ellipse, #FFFFFF, #00FF00 90%);
    border-radius: calc(30px * 0.2);
    outline: calc(30px * 0.1) solid #000000;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    #rollCircleContainer .ore-die.ore-slot-space {
      pointer-events: none;
      opacity: 0; }

.db-display {
  position: absolute;
  width: calc(200px * 4);
  height: auto;
  font-family: 'Fira Code';
  font-size: 14px;
  line-height: 16px;
  color: lime;
  text-align: left;
  background-color: rgba(0, 100, 0, 0.5);
  -webkit-filter: drop-shadow(0, 0, 5px, lime);
  filter: drop-shadow(0, 0, 5px, lime);
  outline: 5px solid lime;
  opacity: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .db-display td {
    width: 25%; }

.rotation-display,
.angle-display {
  position: absolute;
  width: 200px;
  height: 32px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  background-color: lightblue;
  opacity: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .rotation-display.angle-display,
  .angle-display.angle-display {
    background-color: magenta; }

#testObj {
  position: absolute;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background-color: red;
  border-radius: 25px;
  outline: 3px solid black; }

/* Styles limited to betterangels sheets */
.betterangels {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for BetterAngels (can be removed if not needed) */ }
  .betterangels .item-form {
    font-family: "Roboto", sans-serif; }
  .betterangels .sheet-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
    overflow: hidden; }
    .betterangels .sheet-header .profile-img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      height: 100px;
      margin-right: 10px; }
    .betterangels .sheet-header .header-fields {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .betterangels .sheet-header .charname {
      height: 50px;
      padding: 0;
      margin: 5px 0;
      border-bottom: 0; }
      .betterangels .sheet-header .charname input {
        width: 100%;
        height: 100%;
        margin: 0; }
  .betterangels .sheet-tabs {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0; }
  .betterangels .sheet-body,
  .betterangels .sheet-body .tab,
  .betterangels .sheet-body .tab .editor {
    height: 100%; }
  .betterangels .tox .tox-editor-container {
    background: #FFFFFF; }
  .betterangels .tox .tox-edit-area {
    padding: 0 8px; }
  .betterangels .resource-label {
    font-weight: bold; }
  .betterangels .items-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 28px;
    padding: 0;
    margin: 2px 0;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #EEEDE0; }
    .betterangels .items-header > * {
      font-size: 14px;
      text-align: center; }
    .betterangels .items-header .item-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 5px;
      font-weight: bold;
      text-align: left; }
  .betterangels .items-list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    color: #444444;
    list-style: none;
    scrollbar-width: thin; }
    .betterangels .items-list .item-list {
      padding: 0;
      margin: 0;
      list-style: none; }
    .betterangels .items-list .item-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      overflow: hidden;
      font-size: 13px;
      text-align: left; }
      .betterangels .items-list .item-name h3,
      .betterangels .items-list .item-name h4 {
        margin: 0;
        overflow-x: hidden;
        white-space: nowrap; }
    .betterangels .items-list .item-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
      flex: 0 0 100px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .betterangels .items-list .item-controls a {
        margin: 0 6px;
        font-size: 12px;
        text-align: center; }
    .betterangels .items-list .item {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2px; }
      .betterangels .items-list .item:not(:last-child) {
        border-bottom: 1px solid #C9C7B8; }
      .betterangels .items-list .item .item-name {
        color: #191813; }
        .betterangels .items-list .item .item-name .item-image {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 30px;
          flex: 0 0 30px;
          height: 30px;
          margin-right: 5px;
          background-size: 30px; }
    .betterangels .items-list .item-prop {
      font-size: 12px;
      text-align: center;
      border-right: 1px solid #C9C7B8;
      border-left: 1px solid #C9C7B8; }
    .betterangels .items-list .items-header {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 28px;
      padding: 0;
      margin: 2px 0;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.05);
      border: 2px groove #EEEDE0; }
      .betterangels .items-list .items-header > * {
        font-size: 12px;
        text-align: center; }
      .betterangels .items-list .items-header .item-name {
        padding-left: 5px;
        text-align: left; }
  .betterangels .item-formula {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 0 8px; }
  .betterangels.actor .hellbound {
    max-height: calc(100% - 2px); }
