$c-dark: #191813;
$c-faint: #C9C7B8;
$c-beige: #B5B3A4;
$c-tan: #444444;

$c-white: #FFFFFF;
$c-grey: #888888;
$c-black: #000000;

$c-blue: #0000FF;

$c-red: #FF0000;

$c-green: #00FF00;
