// White, Black, Greys
$c-white: rgb(255, 255, 255);
$c-grey9: rgb(204, 204, 204);
$c-grey8: rgb(153, 153, 153);
$c-grey7: rgb(128, 128, 128);
$c-grey6: rgb(102, 102, 102);
$c-grey5: rgb(77, 77, 77);
$c-grey4: rgb(51, 51, 51);
$c-grey3: rgb(34, 34, 34);
$c-grey2: rgb(25, 25, 25);
$c-grey1: rgb(15, 15, 15);
$c-black: rgb(0, 0, 0);

// Reds
$c-red: rgb(255, 0, 0);
$c-red9: rgb(204, 0, 0);
$c-red8: rgb(153, 0, 0);
$c-red7: rgb(128, 0, 0);
$c-red6: rgb(102, 0, 0);
$c-red5: rgb(77, 0, 0);
$c-red4: rgb(51, 0, 0);
$c-red3: rgb(34, 0, 0);
$c-red2: rgb(25, 0, 0);
$c-red1: rgb(15, 0, 0);

$c-medred: $c-red8;
$c-darkred: $c-red5;

// Magenta, Purple
$c-magenta: rgb(255, 0, 255);
$c-magenta7: rgb(128, 0, 128);

$c-purple: $c-magenta7;

// Yellow, Orange, Gold, Brown, Tan
$c-gold: rgb(255, 215, 0);
$c-orange: rgb(255, 166, 0);
$c-yellow: rgb(255, 255, 0);

// Greens
$c-lime: rgb(0, 255, 0);
$c-lime9: rgb(0, 204, 0);
$c-lime6: rgb(0, 102, 0);

$c-green: $c-lime9;
$c-darkgreen: $c-lime6;

// Blue, Cyan
$c-cyan: rgb(0, 255, 255);

$c-blue: rgb(0, 0, 255);
$c-blue7: rgb(0, 0, 128);

$c-darkblue: $c-blue;
$c-navy: $c-blue7;

// Primary Colors
$c-fg: $c-grey9;
$c-fg-bright: $c-white;
$c-fg-dim: $c-grey7;

$c-bg: $c-grey3;
$c-bg-dim: $c-grey1;
$c-bg-dark: $c-black;

$c-glow-primary: saturate($c-cyan, 50%);
