@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:wght@400;700&display=swap");

$font-body: "DigitalStrip", sans-serif;
$font-header: "Komikax", sans-serif;
$font-demon: "New Rocker", serif;

@font-face {
  font-family: "DigitalStrip";
  src: url("../assets/fonts/DigitalStripBB_Reg.otf");
}

@font-face {
  font-family: "DigitalStrip";
  src: url("../assets/fonts/DigitalStripBB_Ital.otf");
  font-style: italic;
}

@font-face {
  font-family: "DigitalStrip";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/DigitalStripBB_BoldItal.otf");
}

@font-face {
  font-family: Komikax;
  src: url("../assets/fonts/KOMIKAX_.ttf");
}

