	<div id="test-money" class="radial-menu size50px-8items depth-2">
			<ul class="menu-container">
				<li class="menu-button">
					<button class="icon-blah button-blue" onclick="firstFunc()">◢</button>
					<label class="label-blue">Slide◢</label>
				</li>
				<li class="menu-button">
					<button class="icon-foo button-red" onclick="secondFunc()">▶</button>
					<label class="label-red">Drop▶</label>
				</li>
				<li class="menu-button">
					{{!-- <button class="icon-bar" onclick="thirdFunc()">3️⃣</button>
					<label class="label-blue">◤Slide</label> --}}
				</li>
				<li class="menu-button">
					<button class="icon-bar button-green" onclick="thirdFunc()">◀</button>
					<label class="label-green">◀Add</label>
				</li>				
				<li class="menu-button">
					<button class="icon-blah button-blue" onclick="firstFunc()">◤</button>
					<label class="label-blue">◤Slide</label>
				</li>
				<li class="menu-button">
					<button class="icon-foo button-red" onclick="secondFunc()">◀</button>
					<label class="label-red">◀Drop</label>
				</li>
				<li class="menu-button">
					{{!-- <button class="icon-bar" onclick="thirdFunc()">3️⃣</button>
					<label class="label-blue">2◤Slide</label> --}}
				</li>
				<li class="menu-button">
					<button class="icon-bar button-green" onclick="thirdFunc()">▶</button>
					<label class="label-green">Add▶</label>
				</li>
			</ul>
	</div>