.text-tactic { color: $c-magenta }
.text-strategy { color: $c-lime }

.red-alert {
  text-align: center;
  width: 100%;
  display: block;
  font-size: $font-size-b2;
  margin: 10px 0 0 0;
  border-radius: 15px;
  background: $c-red;
  outline: 3px solid $c-red5;
}

& {
  $tactic-dot-size: 15px;
  $strategy-dot-size: 19px;
  $tactic-spacing: $tactic-dot-size + 1px;
  $strategy-spacing: $strategy-dot-size + 1px;

  border-radius: 25px;
  
	&:not(.minimized) {
    width: 476px !important;
    height: auto !important;
    min-height: 500px;
    overflow: visible !important;
  }
  
	.window-content {
    --sheet-bg: radial-gradient(farthest-side circle at 100% 0%, #{$c-grey4}, #{$c-bg} 70%, #{$c-bg-dim});
    --border-color: #{$c-grey3};
    --border-width: 10px;
    --main-padding: 5px;
    --demon-name-color: #{$c-bg-dim};
    --demon-name-filter: "none";
    --demon-name-align: right;
		--demon-name-font-size: #{$font-size-h4};
		--demon-name-scale: 1;
		--demon-name-text-shadow: -1px 1px 0px #{$c-grey5}, 1px -1px 0px #{$c-black};
    --primary-sinister-dark: #{$c-bg-dark};
    --primary-sinister-med: #{setAlpha($c-grey2, 0.7)};
    --primary-sinister-bright: #{$c-grey4};
  
		overflow: visible !important;
  
		form.editable {
      background: var(--sheet-bg);
      border: var(--border-width) outset var(--border-color);
      padding: var(--main-padding);
      border-radius: 25px;
  
			input, select {
        border: 0;
				
				&select option { color: $c-bg }
      }

      &.demon-awake {
        --sheet-bg: radial-gradient(farthest-side circle at 50% 10%, #{$c-red4}, #{$c-red1} 60%, #{$c-bg-dark});
        --border-color: #{$c-red1};
        --demon-name-color: #{$c-bg-dark};
				--demon-name-filter: drop-shadow(0 0 20px #{setAlpha($c-red, 0.5)}) drop-shadow(0 0 10px #{setAlpha($c-red, 0.5)}) drop-shadow(0 0 5px #{$c-red});
				--demon-name-text-shadow: none;
				--demon-name-align: center;
        --primary-sinister-dark: #{$c-bg-dark};
        --primary-sinister-med: #{setAlpha($c-red5, 0.7)};
        --primary-sinister-bright: #{$c-red8};
      }
      &.drag-to-hell {
        --sheet-bg: radial-gradient(farthest-side circle at 50% 15%, #{$c-red8}, #{$c-red4} 60%, #{$c-red1});
        --border-color: #{$c-red5};
        --demon-name-color: #{$c-bg-dark};
				--demon-name-filter: drop-shadow(0 0 25px #{$c-red});
        --demon-name-align: center;
				--demon-name-text-shadow: #{rept((0 0 2px #{$c-red}), 3)}, #{rept((0 0 10px #{$c-red}), 3)};
				--demon-name-scale: 0.6;
				--demon-name-font-size: #{$font-size-h3};
        --primary-sinister-dark: #{$c-bg-dark};
        --primary-sinister-med: #{setAlpha(saturate($c-red4, -50%), 0.7)};
        --primary-sinister-bright: #{$c-red7};
      }
      &.exorcising {
        --demon-name-color: #{$c-red};
				--demon-name-filter: none;
        --primary-sinister-dark: #{$c-bg-dark};
        --primary-sinister-med: #{setAlpha(saturate($c-red4, -50%), 0.7)};
        --primary-sinister-bright: #{$c-red8};

        filter: sepia(1) hue-rotate(180deg) brightness(1.3);
      }

      .sheet-header {
        img.profile-img {
          border: 0;
          margin-bottom: auto;
        }

        .header-fields {
          width: calc(100% + 70px);
          margin-left: -70px;

          h3 {
            margin: -17px 0 0 0;
            padding: 0 5px 0 0;
            float: right;
            color: $c-fg-dim;
            font-size: 12px;
          }

          h2 {
            height: fit-content;
            margin: 0;
						line-height: 0;
						position: relative;

            input {
              height: fit-content;
              text-shadow: rept((0 0 3px #{$c-bg-dark}), 3);
              text-align: center;
            }

            &.villainname {
              margin: 0;

              input {
								@include font-title();
                color: $c-fg-bright;
								height: 100%;
              }
            }
            &.humanname {
              top: -10px;
							text-align: right;

              input {
								width: auto;
                font-family: $font-body;
                font-size: $font-size-b3;
                color: $c-fg;
                text-align: right;
              }
            }
            &.demonname {
              top: -5px;

              input {
								height: 40px;
								width: calc(100% / var(--demon-name-scale));
								margin: -10px 0 -10px calc(50% - 50% / var(--demon-name-scale));
                line-height: 20px;
                font-family: $font-demon;
								font-size: var(--demon-name-font-size);
                color: var(--demon-name-color);
								filter: var(--demon-name-filter);
								text-shadow: var(--demon-name-text-shadow);
                text-align: var(--demon-name-align);
								transform: scaleX(var(--demon-name-scale));
              }
            }
          }
        }
      }
			
      .sheet-body .tab {
				&.front {
					.trait-panel {
						$dot-size: 1em;

						display: grid;
						margin: 15px 0;
						grid-template-columns: repeat(3, 1fr);
						grid-template-rows: repeat(3, 1fr);

						* { transform-origin: 50% 50% }

						@for $cell-num from 1 through 9 {
							$row: ceil($cell-num / 3);
							$column: $cell-num - 3 * (ceil($cell-num / 3) - 1);

							.trait-cell.cell-#{$cell-num} {
								grid-row: #{$row} / #{$row + 1};
								grid-column: #{$column} / #{$column + 1};
							}
						} 

						.trait-cell {
							display: grid;
							grid-template-columns: 1fr;
							grid-template-rows: #{0.5 * $dot-size} repeat(4, #{$dot-size}) #{0.5 * $dot-size};
							grid-gap: 0.25em;

							.dot-line[data-sub-type="sinister"] { grid-row: 3 / 4 }
							.dot-line[data-sub-type="virtuous"] { grid-row: 4 / 5 }

							&:nth-child(3n - 1) {
								.trait-name[data-sub-type="sinister"] { grid-row: 1 / 3 }
								.trait-name[data-sub-type="virtuous"] { grid-row: 5 / 7 }
							}

							&:nth-child(3n), &:nth-child(3n - 2) {
								.trait-name[data-sub-type="sinister"] { grid-row: 2 / 3 }
								.trait-name[data-sub-type="virtuous"] { grid-row: 5 / 6 }
							}
							
							.trait-name {
								position: relative;
								pointer-events: none;

								.trait-label {
									display: block;
									position: absolute;
									width: min-content;
									min-width: 50%; 
									color: $c-fg;
									z-index: 1;
									pointer-events: all;
									// background-color: rgba(255, 255, 0, 0.1);

									&[data-type="tactic"] { @include font-tactic() }
									&[data-type="strategy"] { @include font-strategy() }
									&[data-sub-type="sinister"] {
										left: 0;
										bottom: 0;
										text-align: left;
										transform-origin: 25% 50%;
									}
									&[data-sub-type="virtuous"] {
										right: 0;
										top: 0;
										text-align: right;
										transform-origin: 75% 50%;
									}

									& + .trait-label-bg { 
										visibility: hidden;
										color: $c-bg;
										text-shadow: -1px 1px 1px #{$c-fg-dim}, 1px -1px 1px #{$c-bg-dark};
										transition: 0.25s;
									}

									&.is-dragging + .trait-label-bg {
										visibility: visible;
									}

									> span {
										position: relative;
										display: block;

										&.roll-desc, &.to-width-advantages {
											position: absolute;
											height: 1em;
											width: 200%;
											left: -50%;
											pointer-events: none;

											color: $c-bg-dark;

											&.roll-desc {
												bottom: -1em;
												@include font-roll-desc($c-fg-bright);
											}
											&.to-width-advantages { 
												bottom: -2.5em;	
												@include font-to-width-advantages($c-fg-bright);

												> * {
													display: inline;
													line-height: inherit;
													font-size: inherit;
												}

												.to-width-tags {
													text-shadow: rept((0 0 0.1em var(--shadow-color)), 3);
													text-shadow: none;
													border-radius: 0.25em;
													background-color: var(--shadow-color);
													&.general { --shadow-color: white }
													&.weapon { --shadow-color: magenta }
													&.secret { --shadow-color: blue }
													&.surprise { --shadow-color: yellow }
												}
											}
										}
									}
								}
							}

							.dot-line {
								display: grid;
								grid-template-columns: 1fr repeat(7, $dot-size) 1fr;
								grid-template-rows: $dot-size;
								grid-gap: 0.25em;

								.dot {
									position: relative;
									border: 1px solid $c-fg;
									border-radius: 50%;
									grid-row: 1 / 2;
									background: transparent;

									&.full { background: radial-gradient(ellipse, $c-fg-bright, $c-fg 70%) }
								}

								@for $dot-num from 1 through 5 {
									&[data-sub-type="sinister"] .dot-#{$dot-num} { grid-column: #{$dot-num + 1} / #{$dot-num + 2} }
									&[data-sub-type="virtuous"] .dot-#{$dot-num} { grid-column: #{9 - $dot-num} / #{9 - $dot-num + 1} }
								}
							}

							@import "../radial-menu";
						}
					}

					.hover-triggers {
						position: absolute;
						top: 0;
						height: 60%;
						width: 100%;
						pointer-events: none;

						.hover-target {
							display: block;
							position: absolute;
							height: 100px;
							width: 100px;
							pointer-events: all;

							&.red { --hover-trigger-color: #{$c-red} }
							&.green { --hover-trigger-color: #{$c-green} }
							&.blue { --hover-trigger-color: #{$c-cyan} }
							&.yellow { --hover-trigger-color: #{$c-yellow} }
							&.purple { --hover-trigger-color: #{$c-purple} }

							span {
								display: block;
								position: absolute;
								height: 100%;
								width: 100%;
								border-radius: 50%;

								&.target-icon {
									font-size: 32px;
									text-align: center;
									line-height: 100px;
									letter-spacing: -0.25em;
									text-indent: -0.25em;
								}
								&.target-label {
									// outline: 2px solid var(--hover-trigger-color);
									text-align: center;
									line-height: 160px;
									font-family: BadaBoom;
									// text-shadow: rept((0 0 3px var(--hover-trigger-color)), 3);
									font-size: 20px;
									white-space: nowrap;
								}
								&.target-trigger-anim {
									background: var(--hover-trigger-color);
									// opacity: 0.1;
									top: 50%;
									left: 50%;
								}
							}

							&[data-action="add"] {
								left: -100px;

								&[data-type="general"] { top: 10% }
								&[data-type="weapon"] { top: 36.6%; left: -120px; }
								&[data-type="surprise"] { top: 63.3%; left: -120px; }
								&[data-type="secret"] { top: 90% } 
							}

							&[data-action="reset"] {
								right: -100px;
								top: 10%;
							}

							&[data-action="toWidth"] {
								right: -120px;
								top: 50%;
							}

							&[data-action="toHeight"] {
								right: -100px;
								top: 90%;
							}

							video {
								display: block;
								position: absolute;
								pointer-events: none;
								width: 200%;
								height: 200%;
								left: -50%;
								top: -50%;
							}
						}
					}
					
					.features-list {
						width: 100%;

						.feature-row {
							display: flex;
							justify-content: space-evenly;
							align-content: space-around;
							padding: 10px 0;
							// pointer-events: all;
							min-height: 70px;
							
							.feature {
								height: 125px;
								width: 125px;

								label {
									font-size: 32px;
									position: relative;
									z-index: 500;
									width: 500px;
									text-align: center;
									transform: translate(-50%, -50%) translate(62.5px, 62.5px) scale(0.1);
									height: 125px;
									margin-bottom: -125px;
									display: block;
									line-height: 125px;
									white-space: nowrap;
									pointer-events: none; // !important;
									transition: 0.5s all;
									transform-origin: 50% 50%;
									opacity: 0;
									letter-spacing: -0.25em;
									color: $c-bg-dark;

									&.power { font-family: $font-power-name }
									&.aspect { font-family: $font-aspect-name }
								}

								img {
									position: relative;
									display: block;
									border: 0;
									margin-bottom: -125px;

									&.aspect-coin {
										filter: drop-shadow(16px 16px 16px #{$c-bg-dark});
										&:nth-of-type(3) { display: none; }
									}

									&.active { display: none; }
								}

								video {
									height: 125px;
									width: 125px;
									transform: translateY(5px) scale(2.6);
									position: relative;
									z-index: 5;
									pointer-events: none;
									display: none;
								}

								&:hover {
									.active, video { display: block }
									.base { display: none }

									label.power {
										transform: translate(-50%, -50%) translate(62.5px, 62.5px) scale(2);
										opacity: 1;
										letter-spacing: normal;
										color: $c-bg-dark;
										text-shadow: 0 0 5px #{$c-fg-bright}, 0 0 3px #{$c-gold}, 0 0 2px #{$c-gold}, 0 0 2px #{$c-gold};
									}

									label.aspect {
										transform: translate(-50%, -50%) translate(62.5px, 62.5px) scaleX(1.5) scaleY(2.5);
										opacity: 1;
										color: $c-bg-dark;
										text-shadow: 0 0 2px #{$c-red}, 0 0 4px #{$c-red6}, 0 0 4px #{$c-gold}, 0 0 4px #{$c-gold};
										letter-spacing: normal;
										opacity: 1;
									}
								}
							}
						}
					}
				}

				&.background {
					min-height: 500px;
					// pointer-events: all;

					.editor {
						height: 100%;
						// pointer-events: all;

						.editor-content {
							color: $c-grey8;
							padding: 0;

							h1 {
								border: none;
								font-family: $font-header;
								font-size: $font-size-h1;
								color: $c-fg-bright;
								text-shadow: rept((0 0 5px #{$c-bg-dark}), 5);
								background: $c-grey2;
								outline: 2px solid #{$c-bg-dark};
								text-indent: 10px;
								height: $font-size-h1;
								line-height: 0.75 * $font-size-h1;
							}

							h2 {
								border: none;
								font-family:  $font-header;
								font-size: $font-size-h2;
								text-indent: 7px;
								outline: 2px solid #{$c-bg-dark};
								text-shadow: rept((0 0 5px #{$c-bg-dark}), 5);
								background: $c-grey2;
								height: $font-size-h2;
								line-height: 0.75 * $font-size-h2;
								color: $c-fg-bright;
							}

							h3 {
								font-family: $font-body;
								font-size: $font-size-h3;
								font-variant: small-caps;
								color: $c-fg-bright;
								text-indent: 7px;
								outline: 2px solid #{$c-bg-dark};
								background: $c-grey3;
								text-shadow: rept((0 0 3px #{$c-bg-dark}), 5);
							}
							
							h4, h5 {
								color: $c-fg-bright;
								font-family: $font-body;
								font-variant: small-caps;
								text-indent: 7px;
								margin: 0;
								border-bottom: 2px dotted #{$c-grey4};
							}

							p {
								font-family: $font-body;
								font-size: $font-size-b4;
								padding: 0 5px;
							}
						}

						.tox-tinymce {
							// pointer-events: all;
							min-height: 500px;
						}

						// * { pointer-events: all; }
					}
				}
      }
    }
  }
}

&.mobnpc {
  button {
    // pointer-events: all
  }
  input[type="number"] {
    display: inline-block;
    width: 35px;
    flex-grow: 0;
  }
  .window-content {
    form.editable {
      .sheet-header {
        .header-fields {
          width: 100%;
          margin: 0;
          h2.charname {
            margin-top: -10px;
            input {
              color: $c-fg-bright;
              font-family: $font-header;
              font-size: 24px;
              line-height: 24px;
            }
          }
          h2.size {
            display: flex;
            justify-content: center;
            label {
              flex-grow: 0.1;
              text-align: right;
            }
            select {
              text-align: right;
            }
          }
        }
      }
      .sheet-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 12px;
        color: $c-fg-bright;
        input[type="number"] {
          background: rgba(0, 0, 0, 0.2);
          outline: 2px inset rgba(255, 255, 255, 0.5);
          margin: 0 5px;
          padding: 0 0 2px 0;
          font-size: 24px;
          vertical-align: middle;
          text-align: center;
        }
        .mob-factors, .mob-stats {
          ul {
            list-style: none;
            padding: 0;
            li {
              span {
                vertical-align: super;
                &.big-number {
                  vertical-align: sub;
                }
              }
            }
          }
        }
        span.big-number {
          font-size: 24px;
          vertical-align: sub;
          margin: 0 5px;
        }
        .mob-guidelines {
          grid-row: 2;
          grid-column: 1 / 3;
        }
      }
    }
  }
}