// Section Header
.items-header {
    align-items: center;
    height: 28px;
    padding: 0;
    margin: 2px 0;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
    border: $border-groove;

    > * {
        font-size: 14px;
        text-align: center;
    }

    .item-name {
        display: flex;
        padding-left: 5px;
        font-weight: bold;
        text-align: left;
        // font-size: 16px;
    }
}

/* ----------------------------------------- */

/*  Items Lists                              */

/* ----------------------------------------- */

.items-list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    // color: $c-tan;
    list-style: none;
    scrollbar-width: thin;

    // Child lists
    .item-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    // Item Name
    .item-name {
        display: flex;
        flex: 2;
        align-items: center;
        margin: 0;
        overflow: hidden;
        font-size: 13px;
        text-align: left;

        h3,
        h4 {
            margin: 0;
            overflow-x: hidden;
            white-space: nowrap;
        }
    }

    // Control Buttons
    .item-controls {
        display: flex;
        flex: 0 0 100px;
        justify-content: flex-end;

        a {
            margin: 0 6px;
            font-size: 12px;
            text-align: center;
        }
    }

    // Individual Item
    .item {
        align-items: center;
        padding: 0 2px; // to align with the header border
        &:not(:last-child) { border-bottom: 1px solid $c-grey8; /* $c-faint; */ }

        .item-name {
            color: $c-black;

            .item-image {
                flex: 0 0 30px;
                height: 30px;
                margin-right: 5px;
                background-size: 30px;
            }
        }
    }

    .item-prop {
        font-size: 12px;
        text-align: center;
        border-right: 1px solid #C9C7B8;
        border-left: 1px solid #C9C7B8;
    }

    // Section Header
    .items-header {
        align-items: center;
        height: 28px;
        padding: 0;
        margin: 2px 0;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.05);
        border: $border-groove;

        > * {
            font-size: 12px;
            text-align: center;
        }

        .item-name {
            padding-left: 5px;
            text-align: left;
            // font-size: 16px;
        }
    }
}

/* Example style for BetterAngels (can be removed if not needed) */
.item-formula {
    flex: 0 0 200px;
    padding: 0 8px;
}
