& {
	.window-header {
		position: absolute;
		width: 100%;
		height: 30px;
		border: none;
		font-size: 0;
		margin-top: -20px;
		overflow: visible;
		z-index: 1;

		> *:not(.header-button.close) { display: none }

		.header-button.close {
			text-shadow: none;
			
			&::before {
				display: block;
				content: "X";
				font-family: $font-close-button;
				font-size: $font-size-h4;
				background: #AA0000;
				height: 15px;
				width: 15px;
				line-height: 13px;
				text-align: center;
				border-radius: 15px;
				box-shadow: -1px -1px 3px rgb(0, 0, 0), 1px 1px 3px rgb(255, 255, 255);
				position: absolute;
				right: 15px;
				top: 35px;
				transform-origin: 50% 50%;
				transition: 0.25s all;
			}

			&:hover::before {
				transform: scale(1.5);
				box-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000, 0 0 5px #ff0000;
			}
		}
	}

	&.minimized {
		--border-width: 5px;
		--main-padding: 0;

		height: 20px !important;
		min-height: 20px !important;
		width: 200px !important;
		border-radius: 15px;
		box-shadow:  2px 2px 3px black, -0.5px -0.5px 2px white, 2px 2px 3px black;

		.window-header {
			width: 200px;
			height: 20px;
			border: 0;
			margin-top: 0;

			.window-title {
				display: block;
				color: $c-fg-bright;
				position: relative;
				font-size: $font-size-b4;
				line-height: 20px;
			}

			.header-button.close::before {
				top: 2px;
				right: 3px;
			}
		}
	}

	.window-content {
		border-radius: 25px;
		padding: 0;

		.sheet-tabs {
			.item { 
				color: $c-fg-dim;
				font-family: $font-title;
				transform: scale(1);
				transition: 0.5s;
				&.active {
					color: $c-fg-bright;
					text-shadow: 0 0 10px #{$c-red};
					transform: scale(1.5);
				}
				&:hover { 
					color: $c-bg-dark;
					transform: scale(2);
					text-shadow: 0 0 10px #{$c-fg-bright};
				}
			}
		}

		form.editable {
			position: relative;

			.sheet-header { 
				flex-grow: 0;
				max-height: 105px;
			}
			
			// h1 {
			// 	border: none;
			// 	background-color: transparent;
			// 	text-align: center;
			// 	font-family: $font-header;
			// 	font-size: $font-size-h1;
			// 	margin: 0;

			// 	&.inset-shadow {
			// 		color: #1A1A1A;
			// 		letter-spacing: 0.1em;
			// 		text-shadow: -1px -1px 1px #000000, 2px 2px 1px #262626;
			// 	}
			// }

			.sheet-body {
				.tab {
					min-height: 500px;

					// &.background { pointer-events: all }
					
					.editor {
						// pointer-events: all;
						min-height: 500px;

						* {
							// pointer-events: all;
						}
					}
				}
			}
		}
	}

	.window-resizable-handle { display: none }
}