$circle-size: 200px;
$die-size: 30px;
$padding-top: 50px;
$padding-bottom: 100px;
$padding-left: 100px;
$padding-right: 350px;

#rollCircleContainer {
  position: absolute;
  top: $padding-top;
  left: $padding-left;
  width: calc(100% - #{$padding-left + $padding-right});
  height: calc(100% - #{$padding-top + $padding-bottom});
  outline: 3px solid #FF0000;

  .roll-circle {
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    opacity: 0.5;
    transform-origin: 50% 50%;

    > svg { 
      position: absolute;
      margin-bottom: calc(-1 * #{$circle-size});
    }

    &.lime > svg > circle { fill: lime; }
    &.pink > svg > circle { fill: pink; }
    &.cyan > svg > circle { fill: cyan; }

    .ore-die {
      position: absolute;
      width: $die-size;
      height: $die-size;
      font-size: calc(#{$die-size} * 0.75);
      font-weight: bold;
      line-height: $die-size;
      text-align: center;
      background: radial-gradient(ellipse, #FFFFFF, #00FF00 90%);
      border-radius: calc(#{$die-size} * 0.2);
      outline: calc(#{$die-size} * 0.1) solid #000000;
      transform-origin: 50% 50%;

      &.ore-slot-space {
        pointer-events: none;
        opacity: 0;
      }
    }

    .snap-circle {
      transform-origin: 50% 50%;
    }
  }
}
