$circle-size: 200px;
$die-size: 30px;
$padding-top: 50px;
$padding-bottom: 100px;
$padding-left: 100px;
$padding-right: 350px;

#debugContainerOverlay {
  position: absolute;
  pointer-events: none;
  top: $padding-top;
  left: $padding-left;
  width: calc(100% - #{$padding-left + $padding-right});
  height: calc(100% - #{$padding-top + $padding-bottom});
  z-index: 10000;

  * { pointer-events: none; box-sizing: border-box }
  > svg { position: absolute; top: 0; left: 0; }
}

#rollCircleContainer {
  position: absolute;
  top: $padding-top;
  left: $padding-left;
  width: calc(100% - #{$padding-left + $padding-right});
  height: calc(100% - #{$padding-top + $padding-bottom});
  font-size: calc(#{$die-size} * 0.75);
  font-weight: bold;
  line-height: $die-size;
  text-align: center;
  outline: 3px solid #FF0000;

  * { box-sizing: border-box }

  .roll-circle {
    position: absolute;
    width: $circle-size;
    height: $circle-size;
    opacity: 0.5;
    transform-origin: 50% 50%;

    .angle-marker {
      position: absolute;
      width: 25px;
      height: 25px;
      font-family: sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 12.5px;
      background-color: orange;
      opacity: 1;
      transform-origin: 50% 50%;
    }

    .path-marker {
      position: absolute;
      width: 20px;
      height: 14px;
      font-size: 12px;
      line-height: 16px;
      color: white;
      background-color: red;
      border-radius: 5px;
      opacity: 1;
    }

    > svg {
      --offset: calc(-0.5 * #{$circle-size});

      position: absolute;
      margin: 0 var(--offset) calc(2 * var(--offset)) var(--offset);
      margin-bottom: calc(-1 * #{$circle-size});
    }

    &.type-lime > svg > circle { fill: lime; }
    &.type-pink > svg > circle { fill: pink; }
    &.type-cyan > svg > circle { fill: cyan; }
    &.type-yellow > svg > circle { fill: yellow; }
    &.type-purple > svg > circle { fill: purple; }

    .snap-circle {
      transform-origin: 50% 50%;
    }
  }

  .ore-die {
    position: absolute;
    width: $die-size;
    height: $die-size;
    font-size: calc(#{$die-size} * 0.75);
    font-weight: bold;
    line-height: $die-size;
    text-align: center;
    background: radial-gradient(ellipse, #FFFFFF, #00FF00 90%);
    border-radius: calc(#{$die-size} * 0.2);
    outline: calc(#{$die-size} * 0.1) solid #000000;
    transform-origin: 50% 50%;

    &.ore-slot-space {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.db-display {
  position: absolute;
  width: calc(#{$circle-size} * 4);
  height: auto;
  font-family: 'Fira Code';
  font-size: 14px;
  line-height: 16px;
  color: rgb(0, 255, 0);
  text-align: left;
  background-color: rgba(0, 100, 0, 0.5);
  filter: drop-shadow(0, 0, 5px, rgb(0, 255, 0));
  outline: 5px solid rgb(0, 255, 0);
  opacity: 1;
  transform-origin: 50% 50%;

  td {
    width: 25%;
  }
}

.rotation-display,
.angle-display {
  position: absolute;
  width: 200px;
  height: 32px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  background-color: lightblue;
  opacity: 1;
  transform-origin: 50% 50%;
  &.angle-display { background-color: magenta }
}

#testObj {
  position: absolute;
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background-color: red;
  border-radius: 25px;
  outline: 3px solid black;
}
