$is-debugging: false;

// $is-debugging: true;
$die-size: 30px; // will want to remove this; set all size/position in js

$padding-top: 50px;
$padding-bottom: 100px;
$padding-left: 100px;
$padding-right: 350px;

.x-container {
  position: absolute;
  top: $padding-top;
  left: $padding-left;
  width: calc(100% - #{$padding-left + $padding-right});
  height: calc(100% - #{$padding-top + $padding-bottom});

  * {
    position: absolute;
    box-sizing: border-box;
    transform-origin: 50% 50%;
  }

  .x-circle {
    // background-image: url("../../../assets/animations/xcircle-bg1.webm");
    opacity: 50%;

    > svg {
      top: 0;
      left: 0;

      .circle-path {
        --circle-color: #{$c-gold-50} !important;

        fill: var(--circle-color);
      }
    }

    &.x-circle-basic { --circle-color: #{$c-lime}; }
    &.x-circle-pink { --circle-color: #{$c-pink}; }
    &.x-circle-cyan { --circle-color: #{$c-cyan}; }
    &.x-circle-yellow { --circle-color: #{$c-yellow}; }
    &.x-circle-purple { --circle-color: #{$c-purple}; }
  }

  .x-item {
    &.x-die {
      display: table-cell;
      width: $die-size;
      height: $die-size;
      text-align: center;
      vertical-align: middle;
      background: radial-gradient(ellipse, $c-white, var(--die-color) 90%);
      border-radius: calc(#{$die-size} * 0.2);
      outline: calc(#{$die-size} * 0.1) solid $c-black;
      font: {
        size: calc(#{$die-size} * 0.75);
        weight: bold;
        family: sans-serif;
      }

      &.x-die-basic { --die-color: #{$c-lime} }
    }

    &.x-snap {
      pointer-events: none;
      opacity: 0%;
    }
  }
}

@if $is-debugging {
  .db { pointer-events: none }

  .x-container {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    outline: 3px solid $c-red;

    .x-circle {
      .x-snap {
        display: table-cell;
        width: $die-size * 0.5;
        height: $die-size * 0.5;
        background: radial-gradient(ellipse, $c-white, $c-red 90%);
        border-radius: calc(#{$die-size * 0.5} * 0.2);
        outline: calc(#{$die-size} * 0.1) solid #FFDD00;
        opacity: 100%;
      }

      .motion-path { stroke: black }

      .angle-marker {
        width: 25px;
        height: 25px;
        font-family: sans-serif;
        font-size: 12px;
        line-height: 12px;
        color: $c-yellow;
        text-shadow:
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black,
          0 0 2px $c-black;
      }

      table.db.db-display {
        position: static;
        width: 150%;
        padding: 0;
        margin: -3px 1px 1px -4px;
        border: none;

        * { position: static }

        td.db {
          padding: 0;
          margin: 0;
          font-size: 12px;
          line-height: 11px;
          text-shadow: 0 0 0 black;
          transform: scaleX(0.75);
          transform-origin: left;
        }
      }
    }

    .x-die {
      &.db-display {
        background: white;
        outline-width: 6px;
        outline-color: white;
      }

      &.db-flagged {
        background: #FFAAAA;
        outline-color: #FFAAAA;
      }
    }
  }

  .db.x-container {
    z-index: 10000;
    outline: 3px dotted $c-lime;

    > svg {
      top: 0;
      left: 0;
    }
  }
}
